.App {
  min-height: 100vh;
  background-color: #1d1b1b;
  padding: 20px;
  color:white;


}

.pointer{
  cursor: pointer;
}

.App-header{
  text-align: center;
  font-size: calc(10px + 2vmin);
}
.auth-container{
  text-align: center;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 15px;
}

.fa-sign-out-alt{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1,5rem;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 40px;
}

.create-project{
  margin: 10px;
}

.create-project:hover{
  cursor: pointer;
}

.golden{
  color: gold;
}


.rate-container{
  border-top: 2px solid white;
  margin: 15px;
}

.rate-container  .fa-star{
  font-size: 1.5rem;
  cursor: pointer;
}

.movie-item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto auto;
}
.movie-item:hover{
  background-color: #404040;
}

.movie-item svg{
  font-size: 1.2rem;
  margin: 16px 5px;
}
.movie-item svg:hover{
  color:#ec4d37;
}

.movie-form-data {
  text-align: center;
  font-size: 1.5rem;
}